<%- include('header') %>
<body>
    <h2>Google Storage API Test</h2>
    <input type="file" name="imgfile" accept="image/*" id="imgfile">
    <button id="submitbtn">Submit</button>

    <script src="./submit.js"></script>
</body>
</html>
